<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Guias perguntas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'> <!--// use sempre o caminhos após o barra para usar a estilização-->

    <script src='main.js'></script>
</head>
<body>
    <h1>Guia perguntas</h1>
    <hr>
    <h3> Lista perguntas</h3>

    <!--//Arquivo Estaticos são arquivos que nao podem se controlados pelo Back-End, como JS e CSS-->
    <!--//para resulver isso-->

    <img src="/img/macbook-air-on-desk.jpg"><!--//uma img usando a liberdade app.use(express.static('public')) trouxe -->
    <p> Bem vindo <%= nome %> !!!!</p><!--// Essas são variaveis de JS dentro do HTML-->
    <p> Da empresa : <%= empresa %></p>
    <p> Total de inscritos <%= inscritos %> </p>
    <p> linguagem <%= langAquifora %> </p>

    <!--// Condicionais-->

    <% if(!conferirVlr){%> <!--// só usamos o sinal de = quando trabalhamos SOMENTE com VAR e não condicionais-->
        <h1> Essa é uma tag de erro</h1>
    <%}else{ %>
        <h1> Sem erro </h1>
    <%}%>
    
    <% produtos.forEach((produtos)=>{%> <!--// Forach tem que ser usado assim-->
    <%= produtos.nome %>
    <%= produtos.preco %>
    <hr>
    <%})%>

    
</body>
</html>